<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>abutton_violet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,50}</string>
                <key>spriteSourceSize</key>
                <string>{300,50}</string>
                <key>textureRect</key>
                <string>{{0,268},{300,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_refresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{50,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sms_card_type.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,98}</string>
                <key>textureRect</key>
                <string>{{0,50},{150,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_sms_card_type_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,98}</string>
                <key>spriteSourceSize</key>
                <string>{150,98}</string>
                <key>textureRect</key>
                <string>{{150,50},{150,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_switch_off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,54}</string>
                <key>spriteSourceSize</key>
                <string>{164,54}</string>
                <key>textureRect</key>
                <string>{{300,50},{164,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_switch_on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,54}</string>
                <key>spriteSourceSize</key>
                <string>{164,54}</string>
                <key>textureRect</key>
                <string>{{0,148},{164,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_danger.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,60}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{164,148},{200,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,60}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{0,208},{200,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>button_violet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,60}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{200,208},{200,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{300,0},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{100,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_back_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{150,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_backall.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{200,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_backall_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{250,0},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>number_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,50}</string>
                <key>spriteSourceSize</key>
                <string>{80,50}</string>
                <key>textureRect</key>
                <string>{{380,0},{80,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Button.png</string>
            <key>size</key>
            <string>{464,318}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bded81b67e32e490671551b17a75293f:9d7deddab7c6192bf32b142fdce2757e:8ff35cceea7123be444813ca2c3c5cbf$</string>
            <key>textureFileName</key>
            <string>Button.png</string>
        </dict>
    </dict>
</plist>
