<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>common_btn_cancel.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,368},{73,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,198}}</string>
                <key>sourceSize</key>
                <string>{73,198}</string>
            </dict>
            <key>common_btn_cancel2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,368},{73,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,198}}</string>
                <key>sourceSize</key>
                <string>{73,198}</string>
            </dict>
            <key>common_btn_cancel3.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,368},{73,198}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,198}}</string>
                <key>sourceSize</key>
                <string>{73,198}</string>
            </dict>
            <key>common_btn_ok.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,368},{74,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,202}}</string>
                <key>sourceSize</key>
                <string>{74,202}</string>
            </dict>
            <key>common_btn_ok2.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,368},{74,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,202}}</string>
                <key>sourceSize</key>
                <string>{74,202}</string>
            </dict>
            <key>common_btn_ok3.png</key>
            <dict>
                <key>frame</key>
                <string>{{63,179},{202,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,74}}</string>
                <key>sourceSize</key>
                <string>{202,74}</string>
            </dict>
            <key>common_main_100k.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,254},{110,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,114}}</string>
                <key>sourceSize</key>
                <string>{110,114}</string>
            </dict>
            <key>common_main_10k.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,368},{110,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,114}}</string>
                <key>sourceSize</key>
                <string>{110,114}</string>
            </dict>
            <key>common_main_1k.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,368},{110,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,114}}</string>
                <key>sourceSize</key>
                <string>{110,114}</string>
            </dict>
            <key>common_main_bg_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,651},{351,437}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{351,437}}</string>
                <key>sourceSize</key>
                <string>{351,437}</string>
            </dict>
            <key>common_main_bg_hu.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,179},{398,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,75}}</string>
                <key>sourceSize</key>
                <string>{398,75}</string>
            </dict>
            <key>common_main_bg_hu_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,254},{398,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,75}}</string>
                <key>sourceSize</key>
                <string>{398,75}</string>
            </dict>
            <key>common_main_bg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,116},{886,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{886,63}}</string>
                <key>sourceSize</key>
                <string>{886,63}</string>
            </dict>
            <key>common_main_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{199,0},{188,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,50}}</string>
                <key>sourceSize</key>
                <string>{188,50}</string>
            </dict>
            <key>common_main_btn_cup.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,0},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>common_main_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,54},{53,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{53,54}}</string>
                <key>sourceSize</key>
                <string>{53,54}</string>
            </dict>
            <key>common_main_btn_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,0},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>common_main_btn_round_details.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,0},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>common_main_btn_send_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{387,0},{44,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,51}}</string>
                <key>sourceSize</key>
                <string>{44,51}</string>
            </dict>
            <key>common_main_btn_x.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,254},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>common_main_btn_x_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{53,54},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>common_main_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,254},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>common_main_coins.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,179},{63,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,63}}</string>
                <key>sourceSize</key>
                <string>{63,63}</string>
            </dict>
            <key>common_main_dia.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,368},{277,283}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,283}}</string>
                <key>sourceSize</key>
                <string>{277,283}</string>
            </dict>
            <key>common_main_diem.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,0},{54,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,53}}</string>
                <key>sourceSize</key>
                <string>{54,53}</string>
            </dict>
            <key>common_main_edt_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,651},{48,319}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,319}}</string>
                <key>sourceSize</key>
                <string>{48,319}</string>
            </dict>
            <key>common_main_highlight_rotation.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,651},{494,495}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,495}}</string>
                <key>sourceSize</key>
                <string>{494,495}</string>
            </dict>
            <key>common_main_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{15,0},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>common_main_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{45,0},{30,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,30}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>common_main_lux_coin_mini.png</key>
            <dict>
                <key>frame</key>
                <string>{{75,0},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>common_main_lux_coin_mini_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,0},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,38}}</string>
                <key>sourceSize</key>
                <string>{38,38}</string>
            </dict>
            <key>common_main_lux_coin_xu.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,0},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>common_main_nan_disable.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,254},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>common_main_nan_enable.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,254},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>common_main_soi_cau.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,254},{78,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,79}}</string>
                <key>sourceSize</key>
                <string>{78,79}</string>
            </dict>
            <key>common_main_thoi_gian.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,0},{228,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,53}}</string>
                <key>sourceSize</key>
                <string>{228,53}</string>
            </dict>
            <key>common_main_user.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{15,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CommonMain.png</string>
            <key>size</key>
            <string>{898,1146}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb58c878e375c554a5aff95b3627384b:e3f0c0a0bbfacb20752e8aac697b64d0:455f0acacb67166d9f072ef75db04466$</string>
            <key>textureFileName</key>
            <string>CommonMain.png</string>
        </dict>
    </dict>
</plist>
