<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/common/9patch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{520,61}</string>
                <key>spriteSourceSize</key>
                <string>{520,61}</string>
                <key>textureRect</key>
                <string>{{0,59},{520,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/animation/1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,87}</string>
                <key>spriteSourceSize</key>
                <string>{22,87}</string>
                <key>textureRect</key>
                <string>{{800,288},{22,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/animation/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,18}</string>
                <key>spriteSourceSize</key>
                <string>{22,18}</string>
                <key>textureRect</key>
                <string>{{0,0},{22,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{822,288},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{0,398},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{110,398},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{220,398},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{330,398},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{440,398},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{550,398},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{660,398},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{770,398},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{880,398},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{0,508},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{110,508},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{220,508},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{330,508},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{440,508},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{550,508},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{660,508},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{770,508},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{880,508},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{0,618},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Avatar_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{110,618},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Button.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{220,618},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Vong_Ngoai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{330,618},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Vong_Ngoai1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,128}</string>
                <key>spriteSourceSize</key>
                <string>{128,128}</string>
                <key>textureRect</key>
                <string>{{701,618},{128,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/Vong_Vang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,110}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{440,618},{110,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/bg_vongngoai_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,124}</string>
                <key>spriteSourceSize</key>
                <string>{124,124}</string>
                <key>textureRect</key>
                <string>{{577,618},{124,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/avatar/mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,75}</string>
                <key>spriteSourceSize</key>
                <string>{75,75}</string>
                <key>textureRect</key>
                <string>{{669,127},{75,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/bg_notification.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,529}</string>
                <key>spriteSourceSize</key>
                <string>{54,529}</string>
                <key>textureRect</key>
                <string>{{868,746},{54,529}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/9patch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{282,0},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/chat_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,257}</string>
                <key>spriteSourceSize</key>
                <string>{67,257}</string>
                <key>textureRect</key>
                <string>{{801,746},{67,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/chat_btn_emotion.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,56}</string>
                <key>spriteSourceSize</key>
                <string>{57,56}</string>
                <key>textureRect</key>
                <string>{{677,0},{57,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/chat_btn_send.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,54}</string>
                <key>spriteSourceSize</key>
                <string>{90,54}</string>
                <key>textureRect</key>
                <string>{{334,0},{90,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/chat_btn_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{734,0},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{648,207},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{728,207},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{744,127},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{825,127},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{906,127},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{808,207},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{888,207},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{0,288},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{80,288},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{160,288},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{240,288},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{320,288},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{400,288},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{0,207},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{480,288},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{560,288},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{81,207},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{162,207},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{640,288},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{243,207},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,81}</string>
                <key>spriteSourceSize</key>
                <string>{80,81}</string>
                <key>textureRect</key>
                <string>{{720,288},{80,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{324,207},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{405,207},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{486,207},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chat/emotion_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{567,207},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chip/vinChip0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{22,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/chip/vinChip1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{52,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/logo_xeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,172}</string>
                <key>spriteSourceSize</key>
                <string>{166,172}</string>
                <key>textureRect</key>
                <string>{{0,746},{166,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/boBaiBaCay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,244}</string>
                <key>spriteSourceSize</key>
                <string>{70,244}</string>
                <key>textureRect</key>
                <string>{{265,746},{70,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/boBaiBaiCao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,69}</string>
                <key>spriteSourceSize</key>
                <string>{244,69}</string>
                <key>textureRect</key>
                <string>{{0,127},{244,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/boBaiMauBinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,68}</string>
                <key>spriteSourceSize</key>
                <string>{245,68}</string>
                <key>textureRect</key>
                <string>{{520,59},{245,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/boBaiSam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,245}</string>
                <key>spriteSourceSize</key>
                <string>{69,245}</string>
                <key>textureRect</key>
                <string>{{389,746},{69,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/boBaiTienLen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,245}</string>
                <key>spriteSourceSize</key>
                <string>{70,245}</string>
                <key>textureRect</key>
                <string>{{458,746},{70,245}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/huIconLighterXeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{489,127},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/huIconNormalXeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{90,70}</string>
                <key>spriteSourceSize</key>
                <string>{90,70}</string>
                <key>textureRect</key>
                <string>{{579,127},{90,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/nenBoBai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,69}</string>
                <key>spriteSourceSize</key>
                <string>{245,69}</string>
                <key>textureRect</key>
                <string>{{244,127},{245,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/nenGameName.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,119}</string>
                <key>spriteSourceSize</key>
                <string>{27,119}</string>
                <key>textureRect</key>
                <string>{{550,618},{27,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/nenGameNameXeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,50}</string>
                <key>spriteSourceSize</key>
                <string>{200,50}</string>
                <key>textureRect</key>
                <string>{{82,0},{200,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/nenGold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,55}</string>
                <key>spriteSourceSize</key>
                <string>{253,55}</string>
                <key>textureRect</key>
                <string>{{424,0},{253,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/nenHuVangXeng.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,244}</string>
                <key>spriteSourceSize</key>
                <string>{54,244}</string>
                <key>textureRect</key>
                <string>{{335,746},{54,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/no_hu_name_slot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,175}</string>
                <key>spriteSourceSize</key>
                <string>{28,175}</string>
                <key>textureRect</key>
                <string>{{166,746},{28,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/no_hu_star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,250}</string>
                <key>spriteSourceSize</key>
                <string>{273,250}</string>
                <key>textureRect</key>
                <string>{{528,746},{273,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/no_hu_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,206}</string>
                <key>spriteSourceSize</key>
                <string>{71,206}</string>
                <key>textureRect</key>
                <string>{{194,746},{71,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/common/nohuvang/star.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,59}</string>
                <key>spriteSourceSize</key>
                <string>{59,59}</string>
                <key>textureRect</key>
                <string>{{791,0},{59,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlistCommon.png</string>
            <key>size</key>
            <string>{990,1275}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cdd6e4add66327a26bfbc238e54758bb:ed81f9f51aea215f28b34bad53b49a0c:a35736021a3e5b28f41c6288f17a2fac$</string>
            <key>textureFileName</key>
            <string>PlistCommon.png</string>
        </dict>
    </dict>
</plist>
