<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bg_vault_list.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,0},{282,464}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{282,464}}</string>
				<key>sourceSize</key>
				<string>{282,464}</string>
			</dict>

			<key>icon_hu_loc.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,663},{108,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{108,80}}</string>
				<key>sourceSize</key>
				<string>{108,80}</string>
			</dict>

			<key>jackpots_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,744},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>jackpots_btn_fx.png</key>
			<dict>
				<key>frame</key>
				<string>{{491,744},{96,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,98}}</string>
				<key>sourceSize</key>
				<string>{96,98}</string>
			</dict>

			<key>jackpots_game_icon_avenger.png</key>
			<dict>
				<key>frame</key>
				<string>{{566,843},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,58}}</string>
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>

			<key>jackpots_game_icon_kho_bau.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,587},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,58}}</string>
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>

			<key>jackpots_game_icon_kim_cuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{562,646},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,58}}</string>
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>

			<key>jackpots_game_icon_mini_poker.png</key>
			<dict>
				<key>frame</key>
				<string>{{530,587},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,58}}</string>
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>

			<key>jackpots_game_icon_nu_diep_vien.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,705},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,58}}</string>
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>

			<key>jackpots_game_icon_vuong_quoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,663},{62,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{62,58}}</string>
				<key>sourceSize</key>
				<string>{62,58}</string>
			</dict>

			<key>jackpots_text.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,587},{139,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{139,75}}</string>
				<key>sourceSize</key>
				<string>{139,75}</string>
			</dict>

			<key>no_hu_glow.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,501},{389,389}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{389,389}}</string>
				<key>sourceSize</key>
				<string>{389,389}</string>
			</dict>

			<key>no_hu_slot.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{630,500}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{630,500}}</string>
				<key>sourceSize</key>
				<string>{630,500}</string>
			</dict>

			<key>star_particle.png</key>
			<dict>
				<key>frame</key>
				<string>{{588,764},{29,29}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{29,29}}</string>
				<key>sourceSize</key>
				<string>{29,29}</string>
			</dict>

			<key>titleJackpot.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,551},{205,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,35}}</string>
				<key>sourceSize</key>
				<string>{205,35}</string>
			</dict>

			<key>top_jackpot_bet_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,501},{231,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,49}}</string>
				<key>sourceSize</key>
				<string>{231,49}</string>
			</dict>

			<key>top_jackpot_btn_active.png</key>
			<dict>
				<key>frame</key>
				<string>{{390,845},{87,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,42}}</string>
				<key>sourceSize</key>
				<string>{87,42}</string>
			</dict>

			<key>top_jackpot_btn_inactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{478,845},{87,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{87,42}}</string>
				<key>sourceSize</key>
				<string>{87,42}</string>
			</dict>

			<key>top_jackpot_separator.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,891},{231,3}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{231,3}}</string>
				<key>sourceSize</key>
				<string>{231,3}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{914,902}</string>
			<key>textureFileName</key>
			<string>Hu.png</string>
			<key>realTextureFileName</key>
			<string>Hu.png</string>
			</dict>
		</dict>
</plist>