<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,120}</string>
                <key>spriteSourceSize</key>
                <string>{300,120}</string>
                <key>textureRect</key>
                <string>{{1499,339},{300,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,71}</string>
                <key>spriteSourceSize</key>
                <string>{108,71}</string>
                <key>textureRect</key>
                <string>{{1315,264},{108,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{900,50}</string>
                <key>spriteSourceSize</key>
                <string>{900,50}</string>
                <key>textureRect</key>
                <string>{{895,45},{900,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>abtnHistory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,50}</string>
                <key>spriteSourceSize</key>
                <string>{140,50}</string>
                <key>textureRect</key>
                <string>{{1795,45},{140,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>abtnSecure.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,50}</string>
                <key>spriteSourceSize</key>
                <string>{140,50}</string>
                <key>textureRect</key>
                <string>{{0,95},{140,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{70,59}</string>
                <key>spriteSourceSize</key>
                <string>{70,59}</string>
                <key>textureRect</key>
                <string>{{280,195},{70,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner_image_default.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,325}</string>
                <key>spriteSourceSize</key>
                <string>{170,325}</string>
                <key>textureRect</key>
                <string>{{668,599},{170,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>banner_overlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{170,325}</string>
                <key>spriteSourceSize</key>
                <string>{170,325}</string>
                <key>textureRect</key>
                <string>{{838,599},{170,325}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_banner_text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{600,70}</string>
                <key>spriteSourceSize</key>
                <string>{600,70}</string>
                <key>textureRect</key>
                <string>{{0,264},{600,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_checkbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{242,0},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_soicau.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,208}</string>
                <key>spriteSourceSize</key>
                <string>{236,208}</string>
                <key>textureRect</key>
                <string>{{176,599},{236,208}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg_toast.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{836,50}</string>
                <key>spriteSourceSize</key>
                <string>{836,50}</string>
                <key>textureRect</key>
                <string>{{140,95},{836,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bgvin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,40}</string>
                <key>spriteSourceSize</key>
                <string>{190,40}</string>
                <key>textureRect</key>
                <string>{{1042,0},{190,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1100,50}</string>
                <key>spriteSourceSize</key>
                <string>{1100,50}</string>
                <key>textureRect</key>
                <string>{{0,145},{1100,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBanR68Active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,45}</string>
                <key>spriteSourceSize</key>
                <string>{100,45}</string>
                <key>textureRect</key>
                <string>{{1453,0},{100,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBanR68Normal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,45}</string>
                <key>spriteSourceSize</key>
                <string>{100,45}</string>
                <key>textureRect</key>
                <string>{{1553,0},{100,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBanXuActive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,45}</string>
                <key>spriteSourceSize</key>
                <string>{100,45}</string>
                <key>textureRect</key>
                <string>{{1653,0},{100,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBanXuNormal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,45}</string>
                <key>spriteSourceSize</key>
                <string>{100,45}</string>
                <key>textureRect</key>
                <string>{{1753,0},{100,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnRefresh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,60}</string>
                <key>spriteSourceSize</key>
                <string>{60,60}</string>
                <key>textureRect</key>
                <string>{{350,195},{60,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSearch.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,37}</string>
                <key>spriteSourceSize</key>
                <string>{37,37}</string>
                <key>textureRect</key>
                <string>{{537,0},{37,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSettings.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{175,339},{160,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bao_mat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,60}</string>
                <key>spriteSourceSize</key>
                <string>{200,60}</string>
                <key>textureRect</key>
                <string>{{410,195},{200,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_camera.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1100,145},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_giftcode.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{335,339},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hotline.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{535,339},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_ket_sat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1150,145},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_kingwin_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,68}</string>
                <key>spriteSourceSize</key>
                <string>{300,68}</string>
                <key>textureRect</key>
                <string>{{1001,195},{300,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_login.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,70}</string>
                <key>spriteSourceSize</key>
                <string>{260,70}</string>
                <key>textureRect</key>
                <string>{{600,264},{260,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_nap_rut_label.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,68}</string>
                <key>spriteSourceSize</key>
                <string>{308,68}</string>
                <key>textureRect</key>
                <string>{{1301,195},{308,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_payin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1200,145},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_quydinh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{735,339},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_register.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{260,70}</string>
                <key>spriteSourceSize</key>
                <string>{260,70}</string>
                <key>textureRect</key>
                <string>{{860,264},{260,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_send_chat.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,46}</string>
                <key>spriteSourceSize</key>
                <string>{77,46}</string>
                <key>textureRect</key>
                <string>{{818,45},{77,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_transaction_history.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,100}</string>
                <key>spriteSourceSize</key>
                <string>{160,100}</string>
                <key>textureRect</key>
                <string>{{935,339},{160,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_vqmm.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,100}</string>
                <key>spriteSourceSize</key>
                <string>{200,100}</string>
                <key>textureRect</key>
                <string>{{1095,339},{200,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cam.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,43}</string>
                <key>spriteSourceSize</key>
                <string>{56,43}</string>
                <key>textureRect</key>
                <string>{{1397,0},{56,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>choingay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,75}</string>
                <key>spriteSourceSize</key>
                <string>{115,75}</string>
                <key>textureRect</key>
                <string>{{1423,264},{115,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cirle_avatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{0,599},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>footer_divider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,130}</string>
                <key>spriteSourceSize</key>
                <string>{2,130}</string>
                <key>textureRect</key>
                <string>{{1799,339},{2,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,130}</string>
                <key>spriteSourceSize</key>
                <string>{1920,130}</string>
                <key>textureRect</key>
                <string>{{0,469},{1920,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header_btn_hop_thu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,68}</string>
                <key>spriteSourceSize</key>
                <string>{79,68}</string>
                <key>textureRect</key>
                <string>{{1609,195},{79,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>header_divider.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{2,130}</string>
                <key>spriteSourceSize</key>
                <string>{2,130}</string>
                <key>textureRect</key>
                <string>{{1920,469},{2,130}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_tour_white.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{473,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light_tour_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{505,0},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>load_level.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,16}</string>
                <key>spriteSourceSize</key>
                <string>{120,16}</string>
                <key>textureRect</key>
                <string>{{0,0},{120,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,100}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{1295,339},{100,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_spin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1395,339},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_navi_active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{574,0},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_navi_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{712,50}</string>
                <key>spriteSourceSize</key>
                <string>{712,50}</string>
                <key>textureRect</key>
                <string>{{1250,145},{712,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_navi_default_120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,38}</string>
                <key>spriteSourceSize</key>
                <string>{120,38}</string>
                <key>textureRect</key>
                <string>{{612,0},{120,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_navi_default_150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,38}</string>
                <key>spriteSourceSize</key>
                <string>{150,38}</string>
                <key>textureRect</key>
                <string>{{732,0},{150,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lobby_navi_default_160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,38}</string>
                <key>spriteSourceSize</key>
                <string>{160,38}</string>
                <key>textureRect</key>
                <string>{{882,0},{160,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,94}</string>
                <key>spriteSourceSize</key>
                <string>{94,94}</string>
                <key>textureRect</key>
                <string>{{81,339},{94,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo256x256.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{256,256}</string>
                <key>spriteSourceSize</key>
                <string>{256,256}</string>
                <key>textureRect</key>
                <string>{{412,599},{256,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logout.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,50}</string>
                <key>spriteSourceSize</key>
                <string>{140,50}</string>
                <key>textureRect</key>
                <string>{{0,195},{140,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>luatchoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,75}</string>
                <key>spriteSourceSize</key>
                <string>{115,75}</string>
                <key>textureRect</key>
                <string>{{1538,264},{115,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,69}</string>
                <key>spriteSourceSize</key>
                <string>{92,69}</string>
                <key>textureRect</key>
                <string>{{1688,195},{92,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mobiphone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,29}</string>
                <key>spriteSourceSize</key>
                <string>{123,29}</string>
                <key>textureRect</key>
                <string>{{290,0},{123,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{300,60}</string>
                <key>spriteSourceSize</key>
                <string>{300,60}</string>
                <key>textureRect</key>
                <string>{{610,195},{300,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nap.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,45}</string>
                <key>spriteSourceSize</key>
                <string>{96,45}</string>
                <key>textureRect</key>
                <string>{{1853,0},{96,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>napxu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,45}</string>
                <key>spriteSourceSize</key>
                <string>{96,45}</string>
                <key>textureRect</key>
                <string>{{0,45},{96,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>nodecheckbox.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,24}</string>
                <key>spriteSourceSize</key>
                <string>{24,24}</string>
                <key>textureRect</key>
                <string>{{266,0},{24,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>quangsang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,80}</string>
                <key>spriteSourceSize</key>
                <string>{81,80}</string>
                <key>textureRect</key>
                <string>{{0,339},{81,80}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rf.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{1232,0},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_vin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{413,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sp_xu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{443,0},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>taoban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,75}</string>
                <key>spriteSourceSize</key>
                <string>{115,75}</string>
                <key>textureRect</key>
                <string>{{1653,264},{115,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tengame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,70}</string>
                <key>spriteSourceSize</key>
                <string>{195,70}</string>
                <key>textureRect</key>
                <string>{{1120,264},{195,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thanhExp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,18}</string>
                <key>spriteSourceSize</key>
                <string>{122,18}</string>
                <key>textureRect</key>
                <string>{{120,0},{122,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vaoban.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,75}</string>
                <key>spriteSourceSize</key>
                <string>{115,75}</string>
                <key>textureRect</key>
                <string>{{1768,264},{115,75}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>viettel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{91,67}</string>
                <key>spriteSourceSize</key>
                <string>{91,67}</string>
                <key>textureRect</key>
                <string>{{910,195},{91,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vinaphone.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,40}</string>
                <key>spriteSourceSize</key>
                <string>{125,40}</string>
                <key>textureRect</key>
                <string>{{1272,0},{125,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zabtnHistory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,50}</string>
                <key>spriteSourceSize</key>
                <string>{140,50}</string>
                <key>textureRect</key>
                <string>{{140,195},{140,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>zbgItem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{722,45}</string>
                <key>spriteSourceSize</key>
                <string>{722,45}</string>
                <key>textureRect</key>
                <string>{{96,45},{722,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PlistLobby.png</string>
            <key>size</key>
            <string>{1962,924}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2ea2b17a56f0e21b80a7e4a81075b279:15f15fc99c6fb5e2daeaa82163146148:572dec35c081b6a1620823be5b9396d4$</string>
            <key>textureFileName</key>
            <string>PlistLobby.png</string>
        </dict>
    </dict>
</plist>
