<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>ws_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,162},{70,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{70,72}}</string>
				<key>sourceSize</key>
				<string>{70,72}</string>
			</dict>

			<key>ws_btn_submit_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,101},{80,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,60}}</string>
				<key>sourceSize</key>
				<string>{80,60}</string>
			</dict>

			<key>ws_button.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,0},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>ws_chat_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{430,544}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{430,544}}</string>
				<key>sourceSize</key>
				<string>{430,544}</string>
			</dict>

			<key>ws_speak_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{431,235},{60,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{60,60}}</string>
				<key>sourceSize</key>
				<string>{60,60}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{532,545}</string>
			<key>textureFileName</key>
			<string>WorldSpeaker.png</string>
			<key>realTextureFileName</key>
			<string>WorldSpeaker.png</string>
			</dict>
		</dict>
</plist>