<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>text_icon_user_betted.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{18,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,12}}</string>
                <key>sourceSize</key>
                <string>{18,12}</string>
            </dict>
            <key>tx_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,813},{730,394}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{730,394}}</string>
                <key>sourceSize</key>
                <string>{730,394}</string>
            </dict>
            <key>tx_bg_cau.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,0},{468,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{468,28}}</string>
                <key>sourceSize</key>
                <string>{468,28}</string>
            </dict>
            <key>tx_bg_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,411},{285,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,166}}</string>
                <key>sourceSize</key>
                <string>{285,166}</string>
            </dict>
            <key>tx_bg_xem_hu_loc.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,261},{240,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{240,100}}</string>
                <key>sourceSize</key>
                <string>{240,100}</string>
            </dict>
            <key>tx_bg_xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{285,411},{285,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{285,166}}</string>
                <key>sourceSize</key>
                <string>{285,166}</string>
            </dict>
            <key>tx_btn_bet_history.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,70},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_btn_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,70},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_btn_close.png</key>
            <dict>
                <key>frame</key>
                <string>{{908,70},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_btn_hand.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,130},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_btn_hand_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,130},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_btn_help.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,130},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_btn_info.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,130},{61,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,60}}</string>
                <key>sourceSize</key>
                <string>{61,60}</string>
            </dict>
            <key>tx_btn_keydelete.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,70},{84,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,56}}</string>
                <key>sourceSize</key>
                <string>{84,56}</string>
            </dict>
            <key>tx_btn_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,130},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_btn_rank.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,130},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_btn_rut_loc.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,30},{190,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,40}}</string>
                <key>sourceSize</key>
                <string>{190,40}</string>
            </dict>
            <key>tx_btn_set_price.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,70},{80,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,56}}</string>
                <key>sourceSize</key>
                <string>{80,56}</string>
            </dict>
            <key>tx_btn_soi_cau.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,130},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_btn_submit_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,130},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>tx_btn_tanloc.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,30},{130,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,40}}</string>
                <key>sourceSize</key>
                <string>{130,40}</string>
            </dict>
            <key>tx_btn_xu.png</key>
            <dict>
                <key>frame</key>
                <string>{{501,130},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>tx_button_bet_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,30},{152,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,40}}</string>
                <key>sourceSize</key>
                <string>{152,40}</string>
            </dict>
            <key>tx_button_bet_xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,30},{152,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,40}}</string>
                <key>sourceSize</key>
                <string>{152,40}</string>
            </dict>
            <key>tx_cau_current.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,30},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>tx_cau_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,0},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>tx_cau_tooltip.png</key>
            <dict>
                <key>frame</key>
                <string>{{616,0},{200,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,30}}</string>
                <key>sourceSize</key>
                <string>{200,30}</string>
            </dict>
            <key>tx_cau_xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,0},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>tx_chat.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1207},{430,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,540}}</string>
                <key>sourceSize</key>
                <string>{430,540}</string>
            </dict>
            <key>tx_count_user_betted_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,70},{63,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>tx_count_user_betted_xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,70},{63,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,55}}</string>
                <key>sourceSize</key>
                <string>{63,55}</string>
            </dict>
            <key>tx_dice_img.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,130},{78,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,60}}</string>
                <key>sourceSize</key>
                <string>{78,60}</string>
            </dict>
            <key>tx_display_price_bet_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,30},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>tx_display_price_bet_xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,30},{150,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,40}}</string>
                <key>sourceSize</key>
                <string>{150,40}</string>
            </dict>
            <key>tx_grid_soi_cau.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,261},{622,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,150}}</string>
                <key>sourceSize</key>
                <string>{622,150}</string>
            </dict>
            <key>tx_grid_soi_cau1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,577},{622,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{622,182}}</string>
                <key>sourceSize</key>
                <string>{622,182}</string>
            </dict>
            <key>tx_ic_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,70},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>tx_icon_hu_loc.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,261},{108,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,80}}</string>
                <key>sourceSize</key>
                <string>{108,80}</string>
            </dict>
            <key>tx_icon_xu.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,70},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>tx_input_bet_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,70},{152,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,40}}</string>
                <key>sourceSize</key>
                <string>{152,40}</string>
            </dict>
            <key>tx_input_bet_tai_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,190},{180,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,71}}</string>
                <key>sourceSize</key>
                <string>{180,71}</string>
            </dict>
            <key>tx_input_bet_xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,70},{152,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,40}}</string>
                <key>sourceSize</key>
                <string>{152,40}</string>
            </dict>
            <key>tx_input_bet_xiu_blur.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,190},{179,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,71}}</string>
                <key>sourceSize</key>
                <string>{179,71}</string>
            </dict>
            <key>tx_nan.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,577},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>tx_poker_chip.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,190},{72,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,68}}</string>
                <key>sourceSize</key>
                <string>{72,68}</string>
            </dict>
            <key>tx_session_code.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,0},{136,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,30}}</string>
                <key>sourceSize</key>
                <string>{136,30}</string>
            </dict>
            <key>tx_soi_cau_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,0},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>tx_soi_cau_xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,0},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>tx_soi_cau_xx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{18,0},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>tx_soi_cau_xx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,0},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>tx_soi_cau_xx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,0},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>tx_text_tai.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,130},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>tx_text_tai_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,130},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>tx_text_xiu.png</key>
            <dict>
                <key>frame</key>
                <string>{{799,130},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>tx_text_xiu_active.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,130},{80,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,60}}</string>
                <key>sourceSize</key>
                <string>{80,60}</string>
            </dict>
            <key>tx_time_count_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,813},{250,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,250}}</string>
                <key>sourceSize</key>
                <string>{250,250}</string>
            </dict>
            <key>tx_time_end.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,70},{94,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,44}}</string>
                <key>sourceSize</key>
                <string>{94,44}</string>
            </dict>
            <key>tx_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,190},{486,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{486,67}}</string>
                <key>sourceSize</key>
                <string>{486,67}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TaiXiu.png</string>
            <key>size</key>
            <string>{980,1747}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4fddade3381a6c43c7e2a8946289cbcf:ee067fedd1fed2a0750c5f8a9a3c81de:5910d73fa88c95f0bf1d339fd43cc7c4$</string>
            <key>textureFileName</key>
            <string>TaiXiu.png</string>
        </dict>
    </dict>
</plist>
