<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bau_cua.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,686},{67,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{67,82}}</string>
				<key>sourceSize</key>
				<string>{69,85}</string>
			</dict>

			<key>hop_thu.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,459},{71,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{71,58}}</string>
				<key>sourceSize</key>
				<string>{72,58}</string>
			</dict>

			<key>kim_cuong.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,711},{91,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,0},{91,78}}</string>
				<key>sourceSize</key>
				<string>{93,78}</string>
			</dict>

			<key>kim_cuong_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{506,395},{83,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{83,63}}</string>
				<key>sourceSize</key>
				<string>{83,63}</string>
			</dict>

			<key>mini_game_aura.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,628},{100,82}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,9},{100,82}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>mini_game_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,527},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{100,100}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>mini_poker.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,451},{104,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,75}}</string>
				<key>sourceSize</key>
				<string>{104,78}</string>
			</dict>

			<key>mini_poker_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,395},{104,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{104,55}}</string>
				<key>sourceSize</key>
				<string>{104,55}</string>
			</dict>

			<key>minigame_background.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{730,394}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{730,394}}</string>
				<key>sourceSize</key>
				<string>{730,394}</string>
			</dict>

			<key>tai_xiu.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,527},{96,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{96,88}}</string>
				<key>sourceSize</key>
				<string>{96,91}</string>
			</dict>

			<key>tai_xiu_md5_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{401,711},{97,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{97,75}}</string>
				<key>sourceSize</key>
				<string>{98,78}</string>
			</dict>

			<key>thong_bao.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,616},{32,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{32,32}}</string>
				<key>sourceSize</key>
				<string>{32,32}</string>
			</dict>

			<key>time.png</key>
			<dict>
				<key>frame</key>
				<string>{{578,486},{40,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{40,40}}</string>
				<key>sourceSize</key>
				<string>{40,40}</string>
			</dict>

			<key>tren_duoi.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,395},{80,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{80,90}}</string>
				<key>sourceSize</key>
				<string>{81,93}</string>
			</dict>

			<key>vong_quay.png</key>
			<dict>
				<key>frame</key>
				<string>{{502,616},{90,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{90,69}}</string>
				<key>sourceSize</key>
				<string>{90,69}</string>
			</dict>

			<key>vong_to.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,395},{400,400}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{400,400}}</string>
				<key>sourceSize</key>
				<string>{400,400}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{731,796}</string>
			<key>textureFileName</key>
			<string>PlistMiniGame.png</string>
			</dict>
		</dict>
</plist>