<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>arrow_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,238},{20,20}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{20,20}}</string>
				<key>sourceSize</key>
				<string>{20,20}</string>
			</dict>

			<key>checkbox_checked.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,112},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>checkbox_default.png</key>
			<dict>
				<key>frame</key>
				<string>{{58,137},{24,24}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{24,24}}</string>
				<key>sourceSize</key>
				<string>{24,24}</string>
			</dict>

			<key>form_control.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,61},{200,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{200,50}}</string>
				<key>sourceSize</key>
				<string>{200,50}</string>
			</dict>

			<key>form_control_260x60.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{260,60}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{260,60}}</string>
				<key>sourceSize</key>
				<string>{260,60}</string>
			</dict>

			<key>icon_rank_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,112},{57,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{57,65}}</string>
				<key>sourceSize</key>
				<string>{57,65}</string>
			</dict>

			<key>icon_rank_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,178},{54,62}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,62}}</string>
				<key>sourceSize</key>
				<string>{54,62}</string>
			</dict>

			<key>icon_rank_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{55,178},{52,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{52,59}}</string>
				<key>sourceSize</key>
				<string>{52,59}</string>
			</dict>

			<key>texture_transparent.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,241},{1,1}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1,1}}</string>
				<key>sourceSize</key>
				<string>{1,1}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{261,259}</string>
			<key>textureFileName</key>
			<string>Form.png</string>
			<key>realTextureFileName</key>
			<string>Form.png</string>
			</dict>
		</dict>
</plist>