<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>res/Minigame/ResMiniPoker/luxVip/background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{788,421}</string>
                <key>spriteSourceSize</key>
                <string>{788,421}</string>
                <key>textureRect</key>
                <string>{{0,0},{788,421}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/bg_bobai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{684,193}</string>
                <key>spriteSourceSize</key>
                <string>{684,193}</string>
                <key>textureRect</key>
                <string>{{494,421},{684,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/btn_room.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{898,951},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/button-selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,73}</string>
                <key>spriteSourceSize</key>
                <string>{69,73}</string>
                <key>textureRect</key>
                <string>{{1053,707},{69,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/button-unselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,73}</string>
                <key>spriteSourceSize</key>
                <string>{69,73}</string>
                <key>textureRect</key>
                <string>{{1122,707},{69,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/buttonx.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{78,79}</string>
                <key>spriteSourceSize</key>
                <string>{78,79}</string>
                <key>textureRect</key>
                <string>{{1053,628},{78,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/bxh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{897,1139},{53,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/bg_labai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,174}</string>
                <key>spriteSourceSize</key>
                <string>{130,174}</string>
                <key>textureRect</key>
                <string>{{925,0},{130,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{1053,780},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{799,1013},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{799,1073},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{941,823},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{939,883},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{961,943},{65,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{864,1014},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{864,1074},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{929,1014},{65,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{929,1079},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/j.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{58,60}</string>
                <key>textureRect</key>
                <string>{{1004,883},{58,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/jj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1055,210},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{989,1008},{65,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/kk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{827,852},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{994,1073},{65,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/black/qq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{941,724},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/chat_bich.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,64}</string>
                <key>spriteSourceSize</key>
                <string>{62,64}</string>
                <key>textureRect</key>
                <string>{{1131,628},{62,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/chat_bich_be.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,32}</string>
                <key>spriteSourceSize</key>
                <string>{30,32}</string>
                <key>textureRect</key>
                <string>{{767,1105},{30,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/chat_co.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,71}</string>
                <key>spriteSourceSize</key>
                <string>{62,71}</string>
                <key>textureRect</key>
                <string>{{827,951},{62,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/chat_co_be.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,30}</string>
                <key>spriteSourceSize</key>
                <string>{26,30}</string>
                <key>textureRect</key>
                <string>{{1169,36},{26,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/chat_ro.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,77}</string>
                <key>spriteSourceSize</key>
                <string>{56,77}</string>
                <key>textureRect</key>
                <string>{{690,1105},{56,77}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/chat_ro_be.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,36}</string>
                <key>spriteSourceSize</key>
                <string>{26,36}</string>
                <key>textureRect</key>
                <string>{{1169,0},{26,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/chat_tep.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,57}</string>
                <key>spriteSourceSize</key>
                <string>{62,57}</string>
                <key>textureRect</key>
                <string>{{765,938},{62,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/chat_tep_be.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,26}</string>
                <key>spriteSourceSize</key>
                <string>{29,26}</string>
                <key>textureRect</key>
                <string>{{1169,66},{29,26}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/matsau2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,174}</string>
                <key>spriteSourceSize</key>
                <string>{130,174}</string>
                <key>textureRect</key>
                <string>{{925,174},{130,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{767,1135},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{832,1134},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{1085,309},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{1021,943},{65,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{1049,1008},{65,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{1054,1073},{65,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{1062,840},{65,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{1122,776},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{1122,836},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/a.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{1122,896},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/j.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,60}</string>
                <key>spriteSourceSize</key>
                <string>{58,60}</string>
                <key>textureRect</key>
                <string>{{1114,1081},{58,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/jj.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{687,1006},{112,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/k.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{1109,956},{65,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/kk.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1053,404},{112,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,60}</string>
                <key>spriteSourceSize</key>
                <string>{65,60}</string>
                <key>textureRect</key>
                <string>{{1114,1016},{65,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/card/red/qq.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,99}</string>
                <key>spriteSourceSize</key>
                <string>{112,99}</string>
                <key>textureRect</key>
                <string>{{1053,516},{112,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,55}</string>
                <key>spriteSourceSize</key>
                <string>{291,55}</string>
                <key>textureRect</key>
                <string>{{0,1085},{291,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/hu/culu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,57}</string>
                <key>spriteSourceSize</key>
                <string>{210,57}</string>
                <key>textureRect</key>
                <string>{{827,432},{210,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/hu/doij.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,57}</string>
                <key>spriteSourceSize</key>
                <string>{210,57}</string>
                <key>textureRect</key>
                <string>{{1055,0},{210,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/hu/effect_circle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{494,495}</string>
                <key>spriteSourceSize</key>
                <string>{494,495}</string>
                <key>textureRect</key>
                <string>{{0,421},{494,495}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/hu/haidoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,57}</string>
                <key>spriteSourceSize</key>
                <string>{210,57}</string>
                <key>textureRect</key>
                <string>{{827,642},{210,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/hu/samco.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,57}</string>
                <key>spriteSourceSize</key>
                <string>{210,57}</string>
                <key>textureRect</key>
                <string>{{1112,0},{210,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/hu/sanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,57}</string>
                <key>spriteSourceSize</key>
                <string>{210,57}</string>
                <key>textureRect</key>
                <string>{{884,432},{210,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/hu/text_nohu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{484,169}</string>
                <key>spriteSourceSize</key>
                <string>{484,169}</string>
                <key>textureRect</key>
                <string>{{0,916},{484,169}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/hu/text_thungphasanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{585,78}</string>
                <key>spriteSourceSize</key>
                <string>{585,78}</string>
                <key>textureRect</key>
                <string>{{687,421},{585,78}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/hu/thung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,57}</string>
                <key>spriteSourceSize</key>
                <string>{210,57}</string>
                <key>textureRect</key>
                <string>{{884,642},{210,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/hu/tuquy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{210,57}</string>
                <key>spriteSourceSize</key>
                <string>{210,57}</string>
                <key>textureRect</key>
                <string>{{480,1105},{210,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/huong-dan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{950,1139},{53,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/info.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,54}</string>
                <key>spriteSourceSize</key>
                <string>{53,54}</string>
                <key>textureRect</key>
                <string>{{1003,1138},{53,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/miniPokerTitle.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{432,137}</string>
                <key>spriteSourceSize</key>
                <string>{432,137}</string>
                <key>textureRect</key>
                <string>{{788,0},{432,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/popup-nho.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,62}</string>
                <key>spriteSourceSize</key>
                <string>{506,62}</string>
                <key>textureRect</key>
                <string>{{765,432},{506,62}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/quay_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,54}</string>
                <key>textureRect</key>
                <string>{{0,1141},{160,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/quay_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,54}</string>
                <key>textureRect</key>
                <string>{{160,1141},{160,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/quay_vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,54}</string>
                <key>spriteSourceSize</key>
                <string>{160,54}</string>
                <key>textureRect</key>
                <string>{{320,1141},{160,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/tu-quayActive_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,56}</string>
                <key>textureRect</key>
                <string>{{291,1085},{160,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/tu-quayActive_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,56}</string>
                <key>textureRect</key>
                <string>{{925,348},{160,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/tu-quayActive_vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,56}</string>
                <key>textureRect</key>
                <string>{{941,404},{160,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/tu-quay_cn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,56}</string>
                <key>textureRect</key>
                <string>{{941,564},{160,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/tu-quay_en.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,56}</string>
                <key>textureRect</key>
                <string>{{997,404},{160,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>res/Minigame/ResMiniPoker/luxVip/tu-quay_vi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,56}</string>
                <key>spriteSourceSize</key>
                <string>{160,56}</string>
                <key>textureRect</key>
                <string>{{997,564},{160,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>luxVipMiniPoker.png</string>
            <key>size</key>
            <string>{1195,1195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0d0bb1361c770eadd0a862b322fd1d2:dc6ee4597977b8bdf68437b1fcdf6b81:51d09bdf6ae881b89ec0de8b0f17ea3b$</string>
            <key>textureFileName</key>
            <string>luxVipMiniPoker.png</string>
        </dict>
    </dict>
</plist>
