<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3cay_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,0},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>TLMNsolo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,0},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>avenger.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,465},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>baicao_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,0},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>baucua_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,0},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>cocaro_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,0},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>cotuong_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,155},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>coup_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,155},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>full.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,685},{170,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,325}}</string>
                <key>sourceSize</key>
                <string>{170,325}</string>
            </dict>
            <key>game_label_coming_soon.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{140,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,25}}</string>
                <key>sourceSize</key>
                <string>{140,25}</string>
            </dict>
            <key>half.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,155},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>keno_game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,685},{170,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,325}}</string>
                <key>sourceSize</key>
                <string>{170,325}</string>
            </dict>
            <key>kho_bau.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,685},{170,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,325}}</string>
                <key>sourceSize</key>
                <string>{170,325}</string>
            </dict>
            <key>khobau.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,155},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>kimcuong_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,155},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>lieng_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,155},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>maubinh_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,310},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>maubinhat_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,310},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>minipoker_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,310},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>nu_diep_vien.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,685},{170,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,325}}</string>
                <key>sourceSize</key>
                <string>{170,325}</string>
            </dict>
            <key>nudiepvien.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,685},{266,266}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{266,266}}</string>
                <key>sourceSize</key>
                <string>{266,266}</string>
            </dict>
            <key>number_game_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,1010},{170,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,325}}</string>
                <key>sourceSize</key>
                <string>{170,325}</string>
            </dict>
            <key>poker_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,310},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>samloc_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,310},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>samsolo_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,310},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>sieu_anh_hung.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,1010},{170,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,325}}</string>
                <key>sourceSize</key>
                <string>{170,325}</string>
            </dict>
            <key>tai_xiu_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,1010},{170,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,325}}</string>
                <key>sourceSize</key>
                <string>{170,325}</string>
            </dict>
            <key>tai_xiu_md5_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,1010},{170,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,325}}</string>
                <key>sourceSize</key>
                <string>{170,325}</string>
            </dict>
            <key>trenduoi_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,465},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>vuong_quoc_vin.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1010},{170,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,325}}</string>
                <key>sourceSize</key>
                <string>{170,325}</string>
            </dict>
            <key>vuongquocvin.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,465},{220,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,220}}</string>
                <key>sourceSize</key>
                <string>{220,220}</string>
            </dict>
            <key>xito.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,465},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>xizach_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,465},{170,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,155}}</string>
                <key>sourceSize</key>
                <string>{170,155}</string>
            </dict>
            <key>xocdia_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1010},{170,325}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,325}}</string>
                <key>sourceSize</key>
                <string>{170,325}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GameLogo.png</string>
            <key>size</key>
            <string>{1020,1335}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6f2edd99141f383c8c89bed68df42ef2:267142342628ae7779285234f04fc9e6:21ebd664f128c9d802cba8d96454d56d$</string>
            <key>textureFileName</key>
            <string>GameLogo.png</string>
        </dict>
    </dict>
</plist>
